@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
h1,
h2,
h3,
h4,
h5,
p,
li,
button,
a {
    font-family: "Poppins", sans-serif;
}

:root {
    --background-color-1: rgb(248,248,248);
    --icon-color-hover: #150d49;
    --icon-color: #4547e0;
    --navbar-background: rgb(255,255,255);
    --navbar-button-border-hover: rgb(38,36,36);
    --navbar-button-border: rgb(217,217,217);
    --navbar-button-text: rgb(38,38,38);
    --loginform-button-background: rgb(0,0,0);
}



*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

.Header {
    width: 100vw;
    height: 30vh;
}

.Page {
    background-color:var(--background-color-1);
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer {
    width: 100vw;
    height: 20vh;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}



html,body {
    height:100%;
}
