.custom-login-button {
    margin-top: 1rem !important;
    background-color: var(--loginform-button-background) !important;
    border-color: var(--loginform-button-background) !important;
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 12px !important;
    color: rgb(243,243,243) !important;
}

.custom-login-button:hover {
    background-color: var(--loginform-button-background) !important;
    border-color: var(--loginform-button-background) !important;
    cursor: pointer ;
}